*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/GangServer/build
/GangServer/dist
/GangServer/nbproject/private/
/GangServer/lib/nblibraries-private.properties
/GangServer/lib/external/
.idea
