<div class='grid-frame'>
		
	<zf-panel id="gang-left-panel" zf-swipe-close="left" position="left" class="medium-grid-block medium-3 gang-panel vertical">
		<div class='grid-content shrink hide-for-medium'>
			<a zf-close class="close-button">&times;</a>
		</div>
		<div class='grid-content expand'>
			
			<label>
				Teams
			
				<select ng-model="team" ng-change="changeTeam(team)" ng-options='team.team as team.team.name for team in teams'></select>
			</label>
			<a ui-sref='newteam' class='button'>Create Team</a>
		</div>
		<div class='grid-content shrink'>
			<a href='#' class='button' ng-click='logout()'>Sign out </a>
		</div>
	</zf-panel>
	
	<div class='grid-block vertical'>
	
		<div id="header" class="shrink collapse grid-content hide-for-medium">
      <ul class="menu-bar primary">
        <li><a zf-open="gang-left-panel" href="#">Channels</a></li>
        <li>Gang</li>
				<li><a zf-open="gang-right-panel" href="#">Users?</a></li>
      </ul>
    </div>
		<ui-view class='grid-block vertical'/>
		
	</div>
	<zf-panel id="gang-right-panel" zf-swipe-close="right" position="right" class="medium-grid-block medium-2 gang-panel">
		<div class='grid-content shrink hide-for-medium'>
			<a zf-close class="close-button">&times;</a>
		</div>
	</zf-panel>	
</div>