<div class='grid-frame'>
		
	<zf-panel id="gang-left-panel" position="left" class="medium-grid-block medium-3 gang-panel">
		<form>
			<label>Groups</label>
			<select>
				<option ng-repeat='group in groups' value="{{group.id}}">{{group.name}}</option>
			</select>
			<a href='#' class='button' ng-click='logout()'>Sign out </a>
		</form>
	</zf-panel>
	
	<div class='grid-block vertical'>
	
		<div id="header" class="shrink collapse grid-content hide-for-medium">
      <ul class="menu-bar primary">
        <li><a zf-open="gang-left-panel" href="#">Channels</a></li>
        <li>Gang</li>
				<li><a zf-open="gang-right-panel" href="#">Users?</a></li>
      </ul>
    </div>
		
		<div class='grid-content' scroll-glue>
			<div class='block-list'>
				<ul>
					<li ng-repeat="message in messages">
						<div class="grid-block shrink">
							<div class="grid-content shrink">
								<img src="assets/img/user.png" style='width:64px;height:64px;'/>
							</div>
							<div class="grid-content">
								<h6>{{message.uid}}</h6>
								{{message.msg}}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="message-input grid-content collapse shrink">
      <span class="inline-label">
        <input type="text" ng-model='message' placeholder="Message">
        <a href="#" class="button" ng-click='send()'>Send</a>
      </span>
    </div>
	</div>
	
	<zf-panel id="gang-right-panel" position="right" class="medium-grid-block medium-2 gang-panel">
		<p>This is a basic panel.</p>
	</zf-panel>	
</div>