<div class="row">
    <div class='grid-content'></div>
    <div class='grid-content'>
        <br/>
        <center><h1 style="color: #243641">Credits</h1></center>
    </div>
    <div class='grid-content'></div>

</div>

<div ng-repeat="it in order">
    <div ng-switch="it">
        <div ng-switch-when="1" class="row align-center">
            <h4>Ilgaz Şumnulu</h4>

            <p>
                <a href="https://twitter.com/ilgazsumnulu">@ilgazsumnulu</a>
            </p>
        </div>

        <div ng-switch-when="1" class="row align-center">
            <h4>Özgün Genç</h4>

            <p>
                <a href="https://twitter.com/ozgungenc">@ozgungenc</a>
            </p>

            <p>
                <a href="http://www.linkedin.com/in/ozgungenc">linkedin.com/in/ozgungenc</a>
            </p>

            <p>
                <a href="http://ozgungenc.com">ozgungenc.com</a>
            </p>
        </div>

        <div ng-switch-when="1" class="row align-center">
            <h4>Fatih Mehmet Güler</h4>

            <p>
                <a href="https://github.com/fmguler">https://github.com/fmguler</a>
            </p>

        </div>

        <div ng-switch-when="1" class="row align-center">
            <h4>Cağatay Yaman</h4>

            <p>
                <a href="https://github.com/breadam">https://github.com/breadam</a>
            </p>

        </div>
        <div ng-switch-when="1" class="row align-center">
            <h4>Eren Can</h4>


        </div>
    </div>
</div>