<div class='grid-frame account-frame'>

  <zf-panel id="gang-left-panel" zf-swipe-close="left" position="left" class="medium-grid-block shrink vertical left-panel">
			
    <!--
			<div class='grid-content shrink hide-for-medium'>
				<a zf-close class="close-button">&times;</a>
    </div>
		-->
		
		<div class='grid-content shrink menu'>
			
			<div class="logo"><img src="assets/img/logo.png"></div>
			
			<div class="groups-and-friends">
			
				<div class="groups-button"><img src="assets/img/groups.gif"> Groups</div>
				
				<div class="friends-button">Users <img src="assets/img/friends.gif"></div>
			</div>
		</div>
		
    <div class='grid-content collapse expand'>
		
			<div class='group-list'>
				<ul>
				
					<li ng-repeat='team in teams' ng-class="{active: team.id == activeChannel.id}" ui-sref='chat({channel:team.id})'>
						
						<div class="colorbox">
							<div style="background-color:{{getTeamColor(team)}};">{{getTeamShortName(team)}}</div>
						</div>
						
						<div ng-show="numberOfunreadMessages(team.id)" class="new-message-badge" >{{ numberOfunreadMessages(team.id)}}</div>
						<span ng-class="{ 'new-message-text': numberOfunreadMessages(team.id)}">{{ team.name }}</span>
						
						<!-- <i class="fa fa-times"></i> -->
						
						
					</li>
				</ul>
			</div>
    </div>
		
    <div class='grid-content shrink profile'>
			<div class="user-panel">
				<a href='#' ng-click='about()'><img class="user-settings-icon" src="assets/img/about.png"></a>
				<img class="user-profile-icon" ng-src="data:image/png;base64,{{user.profileImage}}"/>
				<a href='#' ng-click='logout()'><img class="user-logout-icon" src="assets/img/logout.png"></a>
			</div>
    </div>
  </zf-panel>

  <div class='grid-block vertical main-panel' swipe-open=''>
	
		<ui-view class='grid-block vertical'></ui-view>
		
  </div>
</div>
