<div style="background-color: white; background-image: url(assets/img/welcome-bg.png); margin:0; width:100%; height: 100%; position: fixed; background-repeat: no-repeat;">
	<div class='grid-block'>
		<div class='grid-content'></div>
		<div class='grid-content'><h1 style="color: white;">This is the gang</h1></div>
		<div class='grid-content'></div>
	</div>

	<!-- <img src="assets/img/gang-shadow.png" style="margin-top: 50%; margin-left:50px; opacity:0.7; display: block; margin-left:auto ;margin-right:auto; margin-top:auto; margin-bottom: auto;" > -->
</div>