<div class='gang-chat-area grid-block vertical'>
    <div class='grid-content collapse shrink'>
        <div class="title expand ng-scope"> teamId:{{ activeChannel.name }}</div>
    </div>
    <div class='grid-content gang-chat-list expand' scroll-glue>
        <div class='block-list'>
            <ul>
                <li ng-repeat="message in thisChannelMessages">
                    <div class="grid-block shrink">
                        <div class="grid-content shrink">
                            <img width="48" height="48" src="http://graph.facebook.com/{{ message.uid }}/picture"/>
                        </div>
                        <div class="grid-content message-text">
                            <h6>{{getProfile(message.uid).displayName}} <span>@DEBUG@Loading:{{getProfile(message.uid)._loading}}$fetched:{{getProfile(message.uid)._fetched}}</span></h6>
                            <p ng-bind-html="message.msg | emoji"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="message-input grid-content collapse shrink">
        <small class="inline-label">
            <span ng-repeat="(uid, user) in usersTypingNow">
                <span ng-if="$first">typing: </span>

                <div class="grid-content shrink">
                    <img width="24" height="24" src="http://graph.facebook.com/{{ uid }}/picture" title="{{uid}}">
                </div>
                <span ng-if="$middle">,</span>
            </span>
        </small>

        <form>
            <input type="text" id="message_input" ng-model='message' class="message-input"
                   placeholder="Type Your Message">
            <button type="submit" class="button message-button" ng-click='send()'>Send</button>
        </form>

    </div>

</div>