<div class='gang-chat-area grid-block vertical'>
	<div class='grid-content collapse shrink'>
		<div class="title expand ng-scope"> #serbestbolge </div>
	</div>
	<div class='grid-content gang-chat-list expand' scroll-glue>
		<div class='block-list'>
			<ul>
				<li ng-repeat="message in thisChannelMessages">
					<div class="grid-block shrink">
						<div class="grid-content shrink">
							<img width="48" height="48" src="http://graph.facebook.com/{{message.uid}}/picture"/>
						</div>
						<div class="grid-content message-text">
							<h6>{{message.uid}}<span>@handle</span></h6>
							{{message.msg}}
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="message-input grid-content collapse shrink">
		<span class="inline-label">


	<form>
    	<input type="text" id="message_input" ng-model='message' placeholder="Message">
    	<button type="submit" style="width: 518px;" class="button" ng-click='send()'>Send</button>
    </form>	

		</span>
	</div>
</div>