<div class='grid-frame guest-frame'>
	<div class='grid-block'>
		
		<div class='grid-content'></div>
		
		<div class='grid-block small-8 medium-5 large-4 gang-guest vertical'>
			
			<div class='grid-content show-for-small-only'></div>
			
			<div class='grid-content'>
				
				<img src="/assets/img/gang-logo-bluehat.svg"/>
			
				<div class='cta'>
				
					<a href='#' ng-class='{ expand:true, button:true, disabled: fbApiReady == false }' ng-click='login()'>Sign in with Facebook</a>
				</div>
			</div>
			<div class='grid-content show-for-small-only'></div>
		</div>
		
		<div class='grid-content'></div>
	</div>
</div>

<!--
	<button ng-class='{ expand:true, button:true, disabled: fbApiReady == false }' analytics-on="click" analytics-event="LoginButton" analytics-label="Linkedin" style="color: white; font-size: 36px; background-color: #4875B4; padding: 8px 15px 9px 13px"  zf-open="basicModal"><i class="fi-social-facebook"></i> <img src="/assets/img/In-White-54px-R.png" /> Sign in with Linkedin</button>
	<div zf-modal="" id="basicModal">
		<a zf-close="" class="close-button">×</a>
		<h3>Sorry, we're still in beta...</h3>
		<p>Linkedin Groups will be here soon...</p>
	</div>	
-->