<div class='grid-frame'>
	<div class='grid-block'>
		<div class='grid-content'></div>
		<div class='grid-content'>
							<br /><br /><br /><br />
			<div class="dark card">
				<h1 style="text-align:center;">Here is <strong style="color:#ebcc0b;">@gang.</strong></h1><br />
				<div class="card-divider" style="text-align:right;">
				<h3>This is the place for the groups to communicate...<br />
				Teams to collaborate...<br /><br />
				<center>and <strong style="color:#ebcc0b;">gang</strong>s of people to change the world.</h3></center>
				<br />
				<br />
				<center style="color:#ebcc0b;">Just Log In with your social accounts to elaborate your gang's communication:</center>

				</div>
				<div class="card-section">
			<center>
				<button ng-class='{ expand:true, button:true, disabled: fbApiReady == false }' style="color: white; font-size: 36px; background-color: #3B5998; padding: 10px"  ng-click='login()'><i class="fi-social-facebook"></i> <img src="/assets/img/FB-f-Logo__white_50.png" /> Sign in with Facebook</button>
			</center>
			<center>
				<button ng-class='{ expand:true, button:true, disabled: fbApiReady == false }' style="color: white; font-size: 36px; background-color: #4875B4; padding: 8px 15px 9px 13px"  zf-open="basicModal"><i class="fi-social-facebook"></i> <img src="/assets/img/In-White-54px-R.png" /> Sign in with Linkedin</button>
			</center>
				</div>
			</div>
			


		</div>
				<div zf-modal="" id="basicModal">
		<a zf-close="" class="close-button">×</a>
		<h3>Sorry, we're still in beta...</h3>
		<p>Linkedin Groups will be here soon...</p>
		</div>

		<div class='grid-content'></div>
	</div>
</div>