@import "settings";
@import "foundation";

html, body { 
	font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  background: url("../img/icons-blue.jpg");
  overflow: hidden;
}
.logo {
	margin-bottom: 20px;
	display: block;
	width: 100%;
	text-align: center;
}
.antiscroll-wrap {
	height: 100%;
	width: 100%;
	padding-bottom: 67px;
}
.wrapper {
	width: 100%;
  height: 100%;
	margin: auto;
	position: relative;
}
.left-panel {
	background: rgba(47,135,193,0.8);
	width: 220px;
  height: 100%;
	float: left;
	color: #ffffff;
	padding: 20px 0;
	position: relative;
}
.main-panel {
	background: white;
  height: 100%;
	float: left;
	padding: 10px 0;
	position: absolute;
	padding-bottom: 58px;
	left: 220px;
	right: 0;
}
.right-panel {
	display: none;
	width: 220px;
  	height: 100%;
	position: fixed;
	right: 0;
	top: 68px;
	z-index: 1;
	background: #eee;
	border-left: 2px solid #ddd;
}
.right-title {
	width: 100%;
	padding-left: 16px;
	border-bottom: 1px solid #ccc;
	background: #ddd;
	height: 48px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 300;
	color: #666;
}
.user-panel {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}
.user-panel img {
	margin: 10px;
}
.user-profile-icon {
	max-width: 64px;
	max-height: 64px;
	border-radius: 32px;
}
.user-settings-icon, .user-logout-icon {
	position: relative;
	bottom: 16px;
}
.main-title {
	width: 100%;
	padding-left: 16px;
	border-bottom: 1px solid #2f87c1;
	height: 58px;
	line-height: 48px;
	font-size: 24px;
	font-weight: 300;
}
.main-title i {
	color: #2f87c1;
}
.main-title img {
	border-radius: 24px;
	display: inline-block;
	float: left;
	margin: 0 10px 10px 20px;
}
.groups-and-friends {
	width: 180px;
	height: 32px;
	text-align: center;
	margin: auto;
}
.groups-and-friends img {
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
	margin: 8px 8px 8px 10px;
}
.friends-button img {
	float: right;
	margin: 8px 10px 8px 8px;
}
.groups-button, .friends-button {
	width: 90px;
	border-radius: 20px 0 0 20px;
	background: #ffffff;
	line-height: 32px;
	height: 32px;
	color: #0474c8;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	float: left;
}
.friends-button {
	border-radius: 0 20px 20px 0;
	text-align: right;
	float: right;
	border-left: 1px solid #f0eade;
}
.group-list {
	margin-top: 20px;
}
.group-list .profilebox {
	margin: 0;
	padding: 7px;
	background-color: #ffffff;
	width: 48px;
	height: 48px;
	border-radius: 0px 24px 24px 0px;
}
.group-list .profilebox img {
	border-radius: 16px;
	width: 32px;
	height: 32px;
}
 .colorbox {
 	color: #fff;
 	display: inline-block;
	margin: 0;
	padding: 7px;
	background-color: #ffffff;
	width: 48px;
	height: 48px;
	border-radius: 0px 24px 24px 0px;
}
 .colorbox div {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}
.group-list li {
	height: 48px;
	width: 100%;
	display: table;
	margin-top: 5px;
	background-color: #2f87c1;
	border-top: 1px solid #1d7ab7;
	border-bottom: 1px solid #1d7ab7;
	position: relative;
	cursor: pointer;
}
.group-list li i {
	position: absolute;
	right: 10px;
	top: 16px;
	font-size: 13px;
	cursor: pointer;
	opacity: 0.7;
	display: none;
}
.group-list li i:hover {
	opacity: 1;
}
.group-list li:hover i {
	display: block;
}
.group-list span {
	display: table-cell;
	vertical-align: middle;
	height: 48px;
	width: 180px;
	padding-left: 5px;
	padding-right: 20px;
	font-size: 13px;
	font-weight: 700;
	color: #c4d6ed;
}
.group-list li.has-messages span {
	font-weight: 900;
	color: #ffffff;
}
.group-list li.active span {
	color: #2f87c1;
}
.group-list li.active {
	background-color: #ffffff;
}
.group-list li:hover span {
	color: #ffffff;
}
.group-list li.active:hover span {
	color: #2f87c1;
}
.online-users {
	color: #2f87c1;
	float: right;
	margin-right: 20px;
}
.messages {
	position: relative;
	height: 100% !important;
	width: 100% !important;
	overflow: auto;
	padding-bottom: 20px;
}
.messages ul {
	width: 100%;
}
.messages .profile {
	position: absolute;
	left: 25px;
}
.messages .profile img {
	margin-top: 2px;
	width: 36px;
	height: 36px;
	border-radius: 5px;
}
.messages, .message-info, .message {
	width: 100%;
}
.message-info {
	color: #ccc;
}
.message-info a {
	color: #ccc;
	cursor: pointer;
}
.message-info b {
	color: #444;
}
.message .message-options {
	display: none;

}
.message textarea {
	width: 100%;
	margin-top: 5px;
	line-height: 22px;
	padding: 5px;
	border-radius: 5px;
	resize: none;
}
.messages .editing {
	background: #FFF5CF;
}
.message .edit-info {
	color: #666;
	font-size: 12px;
	line-height: 12px;
	height: 16px;
}
.message .edit-info a {
	font-weight: 700;
}
.message:hover .message-options {
	display: inline-block;
}
.message-text {
	line-height: 1.4;
}
.message {
	padding-left:70px;
	padding-right: 20px;
	margin-top: 15px;
}
.input-area {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	padding-bottom: 0px;
}
.input-area textarea {
	width: 100%;
	border: 2px solid #e0e0e0;
	border-radius: 5px;
	padding: 10px;
	height: 44px;
	resize: none;
}
.collapse {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top:68px;
}
.collapsed {
	right: 220px;
}
.collapsed .right-panel {
	display: block;
}
.is-typing {
	font-size: 12px;
	color: #ccc;
	font-weight: 700;
	padding-left: 10px;
	height: 20px;
	display: block;
}