@import "settings";
@import "foundation";
@import "message";
@import "input-area";
@import "main-panel";
@import "left-panel";
@import "right-panel";

html,body{

	font-family: 'Lato', sans-serif;  
  
}

.guest-frame{
	background: url("../img/bg.jpg");
}

.account-frame{
	background: url("../img/icons-blue.jpg");
}

.gang-guest{
	
	& > .cta{
		margin-top:40px;
		background-color:rgba(0,0,0,0.2);
	}
	
	& a {
		backgorund-color:#3b5998 !important;
	}
}

.colorbox {
 	color: #fff;
 	display: inline-block;
	margin: 0;
	padding: 7px;
	background-color: #ffffff;
	width: 48px;
	height: 48px;
	border-radius: 0px 24px 24px 0px;
}

.colorbox div {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}

.userOnline {
	color: lightseagreen;
}

.online-users {
	color: #2f87c1;
	float: right;
	margin-right: 20px;
}

.new-message-badge{
	position: relative;
	font-size: 10px !important;
	top: 0px;
	left: -8px;
	width: 16px !important;
	height: 16px !important;
	background-color: #F04124;
	border-radius: 8px;
	text-align: center; 
	display: inline-block;
}

.new-message-text{
	font-weight: bold !important;
	color: white !important;
}

